@media only screen and (max-width: 991px) {
    .sidenavs {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        display: inline-block;
        overflow-x: hidden;
        background: #fff;
        height: 100vh;
        transition: all .3s;
        z-index: 9999999;
        padding-top: 45px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .page-header {
        opacity: 1;
    }

    .toggle-bar {
        display: block !important;
        color: #000;
    }

    .toggle-bar span.toggle_menu {
        font-size: 24px;
    }

    span.closebtn {
        display: block !important;
        text-align: right;
        color: #000;
        position: absolute;
        right: 19px;
        top: 10px;
        font-size: 20px;
    }

    .navigation div#mySidenavs ul {
        display: block;
    }

    .navigation div#mySidenavs ul li {
        margin-left: 0px;
    }

    .navigation div#mySidenavs ul li a {
        padding: 7px 20px;
        display: block;
        color: #000;
    }

    section.banner {
        margin-top: 67px;
    }

    .dropdown-content {

        position: static;
        display: none !important;

    }

    ul.menu li:hover ul.dropdown-content {
        display: block !important;
    }

    .navigation div#mySidenavs ul li a:hover {
        color: inherit;
    }

    input.search-field.traveltour-title-font {

        font-size: 30px;

    }

    .traveltour-top-search-close {
        font-size: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .bnr-text h1 {
        font-size: 44px;
    }

    .bnr-text p {
        font-size: 22px;
    }

    section.banner {
        height: 500px;
    }

    .gdlr-core {
        margin-bottom: 30px;
    }

    .iner-heading h2 {
        font-size: 40px;

    }

    .iner-heading p {
        font-size: 22px;
    }
}

@media only screen and (max-width: 575px) {}